*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  touch-action: manipulation;
}

#canvas-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #111, #222);
}

#canvas {
  height: 99.5%;
  width: auto;
  max-width: 99.5%;
  border: 1px solid black;
  padding: 0;
  margin: 0;
}

#restartButton {
  display: none;
}

#startButton,
#restartButton {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  background-color: #c4f8ff;
  border-radius: 10px;
  color: #00333a;
  font-weight: 900;
  font-family: cursive;
  cursor: pointer;
  padding: 5px 20px;
}
#startButton:hover,
#restartButton:hover {
  background-color: #e3fcff;
  transform: translate(-50%, -50%) scale(1.05);
}
